<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quench</title>
    <link rel="stylesheet" href="/css/intro.css">
</head>
<body>

<div class="layer before">
    <img class="hello" src="/img/hello.bmp" style="width: 150px">
</div>


    <div class="layer after" style="display: none;">
        <canvas id="myCanvas" width="960" height="480">
        </canvas>
    </div>

<script src="/js/app/intro.js" type="module"></script>
</body>
</html>